MONGO_URI=
MONGO_DB_NAME=smart_retail_db
MONGO_COLLECTION=sales

AZURE_LANGUAGE_KEY=
AZURE_LANGUAGE_ENDPOINT=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=retail-data

FOUNDARY_API_KEY=
FOUNDARY_ENDPOINT=
FOUNDARY_API_VERSION=2024-05-01-preview
FOUNDARY_MODEL=gpt-oss-120b
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
